.background {
  padding: 0;
  margin: 0;
  background-color: rgb(31, 90, 89);
  text-align: center;
  height: 100vh;
  font-family: "lato";
  font-weight: 100;
  position: static;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: rgb(244, 244, 135);
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
}

// rgb(31, 90, 89)

@keyframes loading {
  0% {
    transform: translateY(0px);
    background-color: rgb(244, 244, 135);
  }
  50% {
    transform: translateY(50px);
    background-color: rgb(233, 94, 84);
  }
  100% {
    transform: translateY(0px);
    background-color: rgb(244, 244, 135);
  }
}
.circle-1 {
  animation-delay: 0.1s;
}
.circle-2 {
  animation-delay: 0.2s;
}
.circle-3 {
  animation-delay: 0.3s;
}
.circle-4 {
  animation-delay: 0.4s;
}
.circle-5 {
  animation-delay: 0.5s;
}
.circle-6 {
  animation-delay: 0.6s;
}
.circle-7 {
  animation-delay: 0.7s;
}
.circle-8 {
  animation-delay: 0.8s;
}
