<body>
  <app-email *ngIf="modalOpenSubject | async"></app-email>
  <div [ngClass]="{ freeze: modalOpenSubject | async }">
    <div class="background">
      <app-navbar></app-navbar>
      <div [ngClass]="{ 'art1-xsmall': isMobile }" class="art1"></div>
      <div [ngClass]="{ 'art2-xsmall': isMobile }" class="art2"></div>
      <div [ngClass]="{ 'art3-xsmall': isMobile }" class="art3"></div>
      <div [ngClass]="{ 'art4-xsmall': isMobile }" class="art4"></div>
      <div [ngClass]="{ 'art5-xsmall': isMobile }" class="art5"></div>
      <div class="art6"></div>
      <div
        [ngClass]="{
          'imgContainer-xsmall': isMobile,
          'imgContainer-small': isTablet
        }"
        class="imgContainer"
      >
        <!-- <p class="name">I'm Catie Camer</p> -->
        <img
          class="profile"
          [ngClass]="{ 'img-xsmall': isMobile }"
          src="assets/images/me.jpeg"
          alt="picture of Catie"
        />
        <div [ngClass]="{ 'gradient-xsmall': isMobile }"></div>
      </div>
      <div
        [ngClass]="{
          'mainmessage-small': isTablet,
          'mainmessage-xsmall': isMobile
        }"
        class="mainmessage"
      >
        I’m fascinated with turning <span>problems into possibilities💡</span>
      </div>
      <div class="container">
        <div
          class="halfpill"
          [ngClass]="{
            'halfpill-small': isTablet,
            'halfpill-xsmall': isMobile
          }"
        >
          <div
            [ngClass]="{
              'rectangle-small': isTablet,
              'rectangle-xsmall': isMobile
            }"
            class="rectangle"
          >
            <div
              [ngClass]="{
                'accounting-small': isTablet,
                'accounting-xsmall': isMobile
              }"
              class="accounting"
            >
              <p [ngClass]="{ 'p-xsmall': isMobile, 'p-small': isTablet }">
                From balancing the books...
              </p>
              I started my career as a CPA, crunching numbers 📈. As I worked my
              way up the ladder, I realized that I was losing "interest" (pun
              intended) in accounting. I decided to take a leap of faith and
              explore a career that involves both creativity and critical
              thinking. After some self-discovery, I made the switch to product
              design and made sure to bring my problem-solving skills with me. I
              use these skills to identify user pain points, develop creative
              solutions, and design effective user experiences.
            </div>
            <div
              [ngClass]="{
                'painting-small': isTablet,
                'painting-xsmall': isMobile
              }"
              class="painting"
            >
              <p [ngClass]="{ 'p-xsmall': isMobile, 'p-small': isTablet }">
                And painting canvases...
              </p>
              By the way, I also paint abstract pieces 🎨 and have been selling
              my art for about three years now. Although it's not directly
              related to my work as a product designer, I find that my artistic
              background has been helpful in bringing over some visual design
              principles. I'm always looking for ways to bring a touch of
              creativity to my work and keep things fresh.
            </div>
            <div
              [ngClass]="{
                'uxdesign-small': isTablet,
                'uxdesign-xsmall': isMobile
              }"
              class="uxdesign"
            >
              <p [ngClass]="{ 'p-xsmall': isMobile, 'p-small': isTablet }">
                To designing products!
              </p>
              I fell head over heels for everything UX during my immersive
              course at General Assembly 🎓. Collaborating with other designers
              and developers during the course was a blast 🚀. When it comes to
              product design, I approach problem-solving like a detective,
              always asking 'why, why, why, why, why?' until I uncover the root
              cause. While I love brainstorming potential solutions, I back up
              all my decisions with some serious data and research. I'm excited
              to keep honing my skills and creating product designs that are
              top-notch!
            </div>
          </div>
        </div>
      </div>

      <div class="workContainer">
        <div
          [ngClass]="{ 'circleContainer2-xsmall': isMobile }"
          class="circleContainer2"
        >
          <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
            <span></span>
          </div>
          <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
            <span></span>
          </div>
          <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
            <span></span>
          </div>
          <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
            <span></span>
          </div>
          <div
            [ngClass]="{ 'circles2-xsmall': isMobile }"
            class="circles2"
            id="expand"
          >
            <span></span>
          </div>
          <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
            <span></span>
          </div>
          <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
            <span></span>
          </div>
          <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
            <span></span>
          </div>
          <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
            <span></span>
          </div>
          <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
            <span></span>
          </div>
          <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
            <span></span>
          </div>
        </div>
        <a routerLink="">
          <p
            class="work"
            [ngClass]="{ 'work-small': isTablet, 'work-xsmall': isMobile }"
          >
            Work - Work - Work - Work - Work - Work - Work - Work - Work - Work
            - Work - Work - Work
          </p>
          <p
            class="workItalics"
            [ngClass]="{
              'workItalics-small': isTablet,
              'workItalics-xsmall': isMobile
            }"
          >
            Work - Work - Work - Work - Work - Work - Work - Work - Work - Work
            - Work - Work - Work
          </p>
        </a>
      </div>
    </div>
  </div>
</body>
