.about,
.name,
.resumepage {
  text-align: right;
  font-family: "Inter";
  letter-spacing: 1.5px;
  background-color: transparent;
  outline: none !important;
  color: #1b065e;
  color: rgb(233, 94, 84);
  font-size: 14px;
  border: none;
  font-weight: 600;
}

button {
  cursor: pointer;
}

.button-xsmall {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.buttons-xsmall {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.home {
  text-align: right;
  font-family: "Inter";
  letter-spacing: 1.5px;
  background-color: transparent;
  outline: none !important;
  color: white;
  color: rgb(255, 255, 135);
  font-size: 14px;
  border: none;
  font-weight: 600;
}

.about-xsmall {
  float: right;
}

.firstline {
  display: flex;
  justify-content: space-between;
  height: 19px;
}

.firstline-xsmall {
}

.name {
  text-align: left;
}

.nav {
  display: block;
  padding-top: 24px;
  padding-bottom: 21px;
  padding-left: 5rem;
  padding-right: 5rem;
}

.nav-xsmall {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  z-index: 20;
  width: calc(100vw - 40px);
  padding-top: 20px;
  padding-bottom: 20px;
}

.buttons {
  display: block;
  padding-top: 0.7rem;
}

.resume,
.linkedin,
.email,
.email1,
.resumebutton {
  background-color: transparent;
  outline: none !important;
  color: white;
  color: rgb(31, 90, 89);
  // font-size: 14px;
  border: none;
  font-weight: 400;
  font-family: "Inter";
  letter-spacing: 1px;
  font-size: 12px;
}

.button-xsmall {
  color: #ffffff;
  color: rgb(255, 255, 135);
}

.buttons-xsmall {
  color: #ffffff;
}

.pink {
  color: #b71375;
  color: rgb(253, 130, 63);
}

.white {
  color: white;
}

.homecontact {
  background-color: transparent;
  outline: none !important;
  // font-size: 14px;
  border: none;
  font-weight: 400;
  font-family: "Inter";
  letter-spacing: 1px;
  color: rgb(249, 195, 203);
  color: rgb(255, 255, 255, 0.7);
  font-size: 12px;
}

.homecontact:hover {
  color: white;
}

.email:hover,
.resume:hover,
.linkedin:hover {
  color: #b71375;
  color: rgb(253, 130, 63);
}

.navprojects {
  display: flex;
  background-color: white;
  color: black;
  height: 19px;
  margin-top: -6px;
}

a {
  text-decoration: none !important;
}

.buttonsprojects {
  display: none;
}

.buttons {
  .buttons2 {
    padding: 0;
    display: none;
  }
}

.navbarprojects {
  position: fixed;
  background-color: white;
  width: 100vw;
  z-index: 1000;
}

#logo {
  text-decoration: overline;
  text-decoration-thickness: 2px;
}
