<div
  [ngClass]="{
   'nav-xsmall': isMobile,
    navbarprojects: ['/waterloo', '/thattorontostudio', '/canadacomputers', '/gmail'].includes(url1),
  }"
  class="nav"
>
  <div [ngClass]="{ 'firstline-xsmall': isMobile }" class="firstline">
    <a routerLink="">
      <button
        [ngClass]="{
          name: ['/about', '/resume'].includes(url1),
          home: !['/about', '/resume'].includes(url1),
          navprojects: [
            '/waterloo',
            '/thattorontostudio',
            '/canadacomputers',
            '/gmail'
          ].includes(url1),
          'button-xsmall': isMobile,
          'name-xsmall': isMobile
        }"
        mat-flat-button
        [autofocus]="false"
        class="name"
      >
        <span id="logo">C</span>ATIE CAMER
      </button>
    </a>

    <div class="rightsidenav">
      <a routerLink="/" (click)="navigateHomeToProjects()">
        <button
          [ngClass]="{
            about: ['/about', '/resume'].includes(url1),
            home: !['/about', '/resume'].includes(url1),
            navprojects: [
              '/waterloo',
              '/thattorontostudio',
              '/canadacomputers',
              '/gmail'
            ].includes(url1),
            'button-xsmall': isMobile,
            'about-xsmall': isMobile
          }"
          mat-flat-button
          [autofocus]="false"
          class="work"
        >
          WORK
        </button>
      </a>

      <a routerLink="/about">
        <button
          [ngClass]="{
            about: ['/about', '/resume'].includes(url1),
            home: !['/about', '/resume'].includes(url1),
            navprojects: [
              '/waterloo',
              '/thattorontostudio',
              '/canadacomputers',
              '/gmail'
            ].includes(url1),
            'button-xsmall': isMobile,
            'about-xsmall': isMobile
          }"
          mat-flat-button
          [autofocus]="false"
          class="about"
        >
          ABOUT
        </button>
      </a>
    </div>
  </div>

  <div
    [ngClass]="{
      buttons2: [
        '/waterloo',
        '/canadacomputers',
        '/thattorontostudio',
        '/gmail'
      ].includes(url1),
      buttons: ![
        '/waterloo',
        '/canadacomputers',
        '/thattorontostudio',
        '/gmail'
      ].includes(url1)
    }"
  >
    <button
      (click)="openDialog()"
      [ngClass]="{
        email: ['/about', '/resume'].includes(url1),
        homecontact: !['/about', '/resume'].includes(url1),
        buttonsprojects: [
          '/waterloo',
          '/thattorontostudio',
          '/canadacomputers',
          '/gmail'
        ].includes(url1),
        'buttons-xsmall': isMobile,
        pink: hover1,
        white: hover4
      }"
      (mouseenter)="url1 === '/about' && (hover1 = true)"
      (mouseleave)="url1 === '/about' && (hover1 = false)"
      (mouseenter)="url1 != '/about' && (hover4 = true)"
      (mouseleave)="url1 != '/about' && (hover4 = false)"
    >
      Email
    </button>
    <a routerLink="/resume">
      <button
        [ngClass]="{
          resume: ['/about', '/resume'].includes(url1),
          homecontact: !['/about', '/resume'].includes(url1),
          buttonsprojects: [
            '/waterloo',
            '/thattorontostudio',
            '/canadacomputers',
            '/gmail'
          ].includes(url1),
          'buttons-xsmall': isMobile,
          pink: hover2,
          white: hover5
        }"
        (mouseenter)="url1 === '/about' && (hover2 = true)"
        (mouseleave)="url1 === '/about' && (hover2 = false)"
        (mouseenter)="url1 != '/about' && (hover5 = true)"
        (mouseleave)="url1 != '/about' && (hover5 = false)"
      >
        Resume
      </button>
    </a>
    <a href="https://www.linkedin.com/in/catiecamer/" target="_blank">
      <button
        [ngClass]="{
          linkedin: ['/about', '/resume'].includes(url1),
          homecontact: !['/about', '/resume'].includes(url1),
          buttonsprojects: [
            '/waterloo',
            '/thattorontostudio',
            '/canadacomputers',
            '/gmail'
          ].includes(url1),
          'buttons-xsmall': isMobile,
          pink: hover3,
          white: hover6
        }"
        (mouseenter)="url1 === '/about' && (hover3 = true)"
        (mouseleave)="url1 === '/about' && (hover3 = false)"
        (mouseenter)="url1 != '/about' && (hover6 = true)"
        (mouseleave)="url1 != '/about' && (hover6 = false)"
      >
        LinkedIn
      </button>
    </a>
  </div>

  <app-email *ngIf="modalOpenSubject | async"></app-email>
</div>
