@font-face {
  font-family: 'Arimo';
  src: url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
}

@font-face {
  font-family: 'Playfair';
src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
}

@font-face {
  font-family: 'clash grotesk extralight';
  src: url(assets/fonts/ClashGrotesk-Extralight);
}

@font-face {
  font-family: 'clash grotesk light';
  src: url(assets/fonts/ClashGrotesk-Light);
}

@font-face {
  font-family: 'clash grotesk regular';
  src: url(assets/fonts/ClashGrotesk-Regular);
}
