// .div-block-100 {
//   padding-bottom: 300px;
// }

.div-block-129 {
  width: 35%;
}

.div-block-83 {
  margin-top: 44px;
}

.image-185 {
  margin-top: 44px;
}

.next-steps {
  margin-bottom: 200px;
}
