@media screen and (min-width: 480px) {
  .image-119 {
    margin-top: 50px;
  }
}

.image-13,
.image-116,
.image-117,
.image-118,
.image-121,
.image-122,
.image-123,
.image-124,
.image-125,
.image-27,
.image-30 {
  padding-left: 0;
  padding-right: 0;
}

.image-131 {
  margin-top: 44px;
}
