@media screen and (min-width: 767px) {
  .div-block-113 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .div-block-111 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .div-block-109 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .div-block-31 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .div-block-115 {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 300px;
  }

  .div-block-116 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 480px) and (max-width: 766px) {
  .div-block-113 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .div-block-111 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .div-block-109 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .div-block-31 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .div-block-115 {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 300px;
  }

  .div-block-116 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.div-block-115 {
  margin-bottom: 0px;
}

.image-10 {
  margin-top: 44px;
}

.image-12 {
  margin-top: 44px;
}
