<div class="backdrop">
  <div class="box">
    <div class="centerrow">
      <h3 class="email">{{ for }}</h3>
      <p *ngIf="passwordService.incorrectAnswer" class="funtalk">
        Incorrect password
      </p>
      <form action="submit" (submit)="emitPassword($event)">
        <input
          type="password"
          placeholder="Password"
          [formControl]="passwordControl"
          required
        />
        <div class="button">
          <button class="done" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
