body {
  width: 100vw;
  background-color: rgb(253, 130, 63);
}

.freeze {
  background-color: rgb(74, 114, 179);
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  filter: contrast(0.8) brightness(0.7) saturate(1.2);
}

.animation {
  width: 100%;
  display: block;
  overflow: hidden;
  z-index: 0;
}

h1,
h2 {
  font-family: "Inter";
  font-size: 120px;
  color: rgb(249, 195, 203);
  letter-spacing: 2px;
  font-weight: 400;
}

.title {
  display: block;
  line-height: 1;
}

.title2 {
  margin-top: -7rem;
  margin-left: 7rem;
  display: block;
  line-height: 1.5;
}

.project {
  justify-content: right;
  display: flex;
  padding-bottom: 0;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.project-xsmall {
  display: block;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.projects {
  font-family: "Inter";
  font-size: 96px;
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
  z-index: 2;
  line-height: 0.7;
}

.projecttext-xsmall {
  font-size: 48px;
  line-height: normal;
  margin: 0;
  margin-bottom: -2rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
}

.projecttext-small {
  font-size: 72px;
  line-height: normal;
  margin: 0;
  font-weight: 300;
}

.line1 {
  font-family: "Inter";
  color: white;
  color: rgb(31, 90, 89);
  font-size: 72px;
  font-weight: 200;
  line-height: 1.2;
  letter-spacing: -2%;
  display: inline;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.text-xsmall {
  font-size: 48px;
  display: block;
  text-align: center;
  line-height: normal;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.text-small {
  font-size: 72px;
  margin: auto;
  display: block;
  text-align: center;
}

.slogan-xsmall {
  font-size: 36px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 20px;
  font-weight: 300;
}

.slogan-small {
  font-size: 64px;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 200;
}
.text {
  display: flex;
  z-index: 2;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.bold {
  color: rgb(233, 94, 84);
  display: inline;
}

.letsTalk {
  border-style: solid;
  border-radius: 50px;
  border-width: 2px;
  padding: 20px 50px 20px 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: transparent;
  border-color: rgb(249, 217, 222);
  color: rgb(249, 217, 222);
  box-shadow: none;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 9rem auto 2rem auto;
}

.magenta {
  background: linear-gradient(0deg, rgb(31, 90, 89), rgb(31, 90, 89, 0.8)),
    url("../../../assets/images/backgroundLanding.jpg");
  background-size: 1920px;
  object-fit: cover;
  display: block;
  width: 100%;
  margin: 0;
  z-index: 9;
}

.about {
  text-align: right;
  float: right;
  font-family: "Inter";
  letter-spacing: 1.5px;
  background-color: transparent;
  outline: none !important;
  color: white;
  font-size: 14px;
  border: none;
  font-weight: 500;
}

.name {
  text-align: left;
  float: left;
  font-family: "Inter";
  font-weight: 500;
  background-color: transparent;
  color: white;
  font-size: 14px;
  letter-spacing: 1.5px;
  border: none;
  z-index: 5;
  position: sticky;
}

.nav {
  display: block;
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.nav-xsmall {
  padding-left: 20px;
  padding-right: 20px;
}

.mainCircle {
  display: block;
  overflow: hidden;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 38rem;
}

.maincircle-xsmall {
  margin-top: 0rem;
  z-index: 0;
}

.halfcircle {
  background-color: rgb(203, 145, 189);
  background-color: #f4cedd;
  border-radius: 50% 50% 0 0;
  height: 40rem;
  display: block;
  width: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}
.circle {
  background-color: rgb(203, 145, 189);
  background-color: #f4cedd;
  z-index: 1;
  margin-top: -35rem;
  width: 100%;
}

.circle-xsmall {
  width: 100%;
}

.circle-small {
  width: 100%;
}

.circleContainer {
  display: flex;
  margin-left: -10rem;
  margin-right: 0rem;
}
.circles {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: #f79540;
  background-color: rgb(253, 130, 63);

  z-index: 2;
  margin: 2rem;
  display: inline;
  flex: 0 0 140px;
}

.circleContainer2 {
  padding-top: 7rem;
  display: flex;
  margin-left: -10rem;
  margin-right: 0rem;
}

.circleContainer2-xsmall {
  padding-top: 0;
}

.circles2 {
  height: 120px;
  width: 120px;
  border-radius: 80px;
  background-color: rgb(203, 145, 189);
  background-color: rgb(74, 114, 179);
  z-index: 2;
  margin: 2rem;
  display: inline;
  flex: 0 0 120px;
  opacity: 0.7;
}

.circles2-xsmall {
  height: 60px;
  width: 60px;
  flex: 0 0 60px;
  margin: 1rem;
}
.circles-xsmall {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(253, 130, 63);
  z-index: 2;
  margin: 1rem;
  display: inline;
  flex: 0 0 50px;
}

.circles-small {
  height: 100px;
  width: 100px;
  flex: 0 0 100px;
}

#expand {
  background-color: #ff661f;
  background-color: rgb(244, 244, 135);
}

.container {
  // display: flex;
  background-color: #f4cedd;
  background-color: white;
}
.projectsidebar {
  // width: 90%;
  // margin-left: auto;
  background-color: white;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;
  padding-top: 5rem;
  // background: linear-gradient(
  //     0deg,
  //     rgb(74, 114, 179, 0.4),
  //     rgba(252, 251, 251, 0.6)
  //   ),
  //   url(../../../assets/images/art1rotated.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
}

.projectsidebar-xsmall {
  width: 100%;
  margin: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.panel {
  display: flex;
  justify-content: center;
  height: 65vh;
  width: calc(100% - 16vw);
  margin-bottom: 3rem;
  // max-height: 500px;
  transition: transform ease 300ms;
  margin-left: 8vw;
  margin-right: 8vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel-xsmall {
  width: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap;
  margin: 40px 40px 20px 20px;
  height: 100%;
}

.panel3-xsmall,
.panel4-xsmall,
.panel5-xsmall {
  flex-direction: column-reverse;
}

.projectimages {
  object-fit: cover;
  height: auto;
  display: flex;
  max-width: 53%;
}

.one {
  background-color: rgb(126, 129, 129);
  background-color: #f4cedd;
  background-color: white;
  margin-top: 6rem;
}

.two {
  // margin-right: 0;
  background-color: rgb(255, 255, 135);
  background-color: rgb(253, 130, 63);
  background-color: white;
}

.panel:hover {
  transform: translate(0, -10px);
}

.three {
  // margin-right: 2rem;
  background-color: rgb(253, 130, 63);
  background-color: rgb(233, 94, 84);
  background-color: white;
  background-color: rgb(255, 255, 135);
  background-color: rgb(31, 90, 89);
  background-color: white;

  margin-bottom: 6rem;
}

.four {
  background-color: rgb(233, 94, 84);
  background-color: white;
}

// .whitebackground {
//   display: block;
//   background-color: white;
// }

.img1 {
  z-index: 100;
}

.img2 {
  // height: calc(0.4 * 100vw);
  width: calc(0.5 * 100vw);

  // margin-bottom: -2rem;

  // filter: grayscale(100%);
  // padding-top: calc(0.1 * 100vw);
}

.img3 {
  // margin-top: 5rem;
  // margin-right: 4rem;
  // height: calc(0.3 * 100vw);
  width: calc(0.3 * 100vw);
  // filter: grayscale(100%);
  z-index: 50;
}

// .img31 {
//   height: calc(0.4 * 100vw);
//   width: calc(0.2 * 100vw);
//   margin-top: 7rem;
//   margin-bottom: -3rem;
//   z-index: 40;
// }

.img4 {
  // height: calc(0.55 * 100vw);
  width: calc(0.3 * 100vw);
  // filter: grayscale(100%);
  z-index: 200;
  box-shadow: inset;
}

.description {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Inter";
  text-decoration: none !important;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.description-xsmall {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 40px);
  padding: 60px 20px;
}

.description-xsmall .readmore {
  margin-left: auto;
  margin-right: 8px;
}

.mobileimages {
  display: flex;
  object-fit: cover;
  // height: 60vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.description-small {
  padding-left: 20px;
  padding-right: 20px;
}

.imgText {
  font-weight: 600;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 1rem;
  letter-spacing: -2%;
}

.imgText-small {
  font-weight: 600;
  font-size: 24px;
}

.imgText-xsmall {
  font-size: 24px;
  text-align: left;
  justify-content: left;
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

.para {
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.5;
  font-size: 16px;
  padding: 20px 0px 40px 0px;
}

.para-xsmall {
  width: 100%;
  font-size: 14px;
  padding: 20px 0px 40px 0px;
  margin: 0;
  text-align: left;
}

.para-small {
  font-size: 14px;
  padding-top: 0;
}

.circle3 {
  background-color: rgb(233, 94, 84);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: absolute;
  margin-left: 4rem;
  margin-top: -16rem;
  z-index: 200;
  // mix-blend-mode: lighten;
}

.circle3-xsmall {
  width: 6rem;
  height: 6rem;
  margin-left: 4rem;
  margin-top: -27rem;
  margin-left: 2rem;
}

.circle4 {
  background-color: rgb(250, 116, 43);
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
  position: absolute;
  margin-right: 4rem;
  margin-top: 22vw;
  z-index: 300;
  overflow: hidden;
  // mix-blend-mode: screen;
}

.circle4-xsmall {
  width: 7rem;
  height: 7rem;
  margin-top: 75rem;
  float: right;
  margin-left: 15rem;
}

.headline {
  display: block;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 10rem;
  z-index: 0;
}

.headline-xsmall {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-top: 17rem;
}

.headline-small {
  text-align: center;
  padding-top: 14rem;
}

.contact {
  background: linear-gradient(0deg, #b71375, rgba(162, 19, 107, 0.5)),
    url("../../../assets/images/backgroundLanding.jpg");
  background: linear-gradient(0deg, rgb(31, 90, 89), rgba(31, 90, 89, 0.9)),
    url("../../../assets/images/backgroundLanding.jpg");
  background-size: 1600px;

  width: 100%;
  display: block;
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 20rem;
}

.aboutme {
  font-family: "Inter";
  font-size: 96px;
  color: rgb(249, 195, 203);
  color: #f4cedd;
  font-weight: 300;
  z-index: 2;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 3rem;
  margin-left: -40rem;
}

.aboutmeItalics {
  font-family: "Inter";
  font-style: italic;
  font-size: 96px;
  color: rgb(255, 255, 135);
  font-weight: 100;
  z-index: 2;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  margin: 0;
  padding: 0;
}

.aboutmeItalics-xsmall {
  font-size: 48px;
  font-weight: 100;
}

.aboutme-xsmall {
  font-size: 48px;
  font-weight: 300;
}

.aboutme-small {
  font-size: 72px;
  font-weight: 300;
}
.aboutmeItalics-small {
  font-size: 72px;
  font-weight: 100;
}

:-webkit-scrollbar {
  display: none;
}

app-navbar {
  z-index: 100;
}

.animate-words {
  overflow: hidden;
  transition-delay: 0 !important;
  // display: inline-block;
  display: block;
  // justify-content: center;
  align-items: center;
}

.word {
  text-align: center;
  font-family: "Inter";
  font-weight: 300;
  font-size: 96px;
  letter-spacing: -2%;
  color: #f4cedd;
  text-align: center;
  line-height: 1.2;
  position: relative;
  display: inline-block;
  -webkit-transform: translateY(110%);
  transform: translateY(200%);
  -webkit-transition: -webkit-transform 0.4s
    cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: -webkit-transform 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: transform 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    -webkit-transform 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.word-xsmall,
.delay-05-xsmall {
  font-weight: 300;
  font-size: 48px;
}

.word-small,
.delay-05-small {
  font-weight: 300;
  font-size: 72px;
}

.word-delay-05 {
  transition-delay: 0.4s !important;
  padding-right: 22px;
  line-height: 1.1;
  text-align: center;
}

.delay-05-xsmall,
.delay-05-small {
  padding-right: 0px;
}

.word-delay-06 {
  transition-delay: 0.5s !important;
  color: rgb(253, 130, 63);
  color: rgb(233, 94, 84);
  color: rgb(255, 255, 135);
  line-height: 1.1;
  text-align: center;
}

.word-delay-07 {
  transition-delay: 0.5s !important;
  text-align: center;
}

.show .animate-words .word {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.intro {
  height: 100%;
  padding: 5rem 5rem 5rem 5rem;
  margin-top: 10rem;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.intro-xsmall {
  padding: 20px;
  text-align: center;
  margin-top: 16rem;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
}
.intro-small {
  text-align: center;
  margin-top: 8rem;
  justify-content: center;
  padding-left: 7rem;
  padding-right: 7rem;
}

.nameintro {
  font-family: "Inter";
  font-size: 36px;
  text-align: center;
  font-weight: 100;
  color: white;
  margin-top: 20px;
}

.names {
  font-weight: 300;
  color: rgb(250, 116, 43);
}

.chevron {
  color: rgb(221, 221, 221);
  font-size: 36px;
  // display: flex;
  position: fixed;
  // justify-content: center;
  font-weight: 100;
  padding-bottom: 8vh;
  bottom: 0;
  left: calc(50% - 24px);
}

.faChevron-xsmall {
  font-size: 24px;
  padding-bottom: 8vh;
  left: calc(50% - 12px);
}

.arrow {
  font-size: 36px;
  z-index: 400;
}

.faArrow-xsmall {
  font-size: 20px;
  z-index: 400;
}

.arrowOne {
  color: #fcd54d;
}

.arrowTwo {
  color: #93aaff;
}

.arrowThree {
  color: #1c4889;
}

.arrowFour {
  color: #d9623e;
}

.arrowFive {
  color: #f37d1d;
}

.arrowSix {
  color: #008787;
}

.readmore {
  display: flex;
  justify-content: right;
  margin-top: auto;
  align-self: right;
}

.readmore-xsmall {
  font-size: 12px;
}
.readmoretext {
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
  margin: auto 0;
}
