<body>
  <app-email *ngIf="modalOpenSubject | async"></app-email>
  <div [ngClass]="{ freeze: modalOpenSubject | async }">
    <div class="magenta">
      <app-navbar (scrollEmit)="scrollToElement(target)"></app-navbar>
      <div class="animation">
        <div
          class="intro"
          [ngClass]="{ 'intro-xsmall': isMobile, 'intro-small': isTablet }"
        >
          <div class="animate-words">
            <div
              class="word word-delay-05"
              [ngClass]="{
                'word-xsmall, delay-05-xsmall': isMobile,
                'word-small, delay-05-small': isTablet
              }"
            >
              PRODUCT
            </div>
            <div
              class="word word-delay-06"
              [ngClass]="{ 'word-xsmall': isMobile, 'word-small': isTablet }"
            >
              DESIGNER
            </div>
            <!-- <p class="nameintro word word-delay-07">
              User-centered experiences crafted by
              <span class="names">Catie Camer</span>
            </p> -->
          </div>
        </div>
        <fa-icon
          [ngClass]="{ 'faChevron-xsmall': isMobile }"
          [icon]="faChevronDown"
          class="chevron"
        ></fa-icon>
      </div>
      <div [ngClass]="{ 'maincircle-xsmall': isMobile }" class="mainCircle">
        <div class="halfcircle"></div>
        <div [ngClass]="{ 'circle-xsmall': isMobile }" class="circle">
          <div class="text">
            <p
              [ngClass]="{
                'slogan-xsmall': isMobile,
                'slogan-small': isTablet
              }"
              class="line1"
            >
              From <span class="bold">art to finance </span> and now
              <span class="bold">product design, </span>I bring a fresh
              perspective to<span class="bold">
                creative problem-solving.
              </span>
            </p>
          </div>

          <div class="circleContainer">
            <div
              [ngClass]="{
                'circles-xsmall': isMobile,
                'circles-small': isTablet
              }"
              class="circles"
            >
              <span></span>
            </div>
            <div
              [ngClass]="{
                'circles-xsmall': isMobile,
                'circles-small': isTablet
              }"
              class="circles"
            >
              <span></span>
            </div>
            <div
              [ngClass]="{
                'circles-xsmall': isMobile,
                'circles-small': isTablet
              }"
              class="circles"
            >
              <span></span>
            </div>
            <div
              [ngClass]="{
                'circles-xsmall': isMobile,
                'circles-small': isTablet
              }"
              class="circles"
            >
              <span></span>
            </div>
            <div
              [ngClass]="{
                'circles-xsmall': isMobile,
                'circles-small': isTablet
              }"
              class="circles"
              id="expand"
            >
              <span></span>
            </div>
            <div
              [ngClass]="{
                'circles-xsmall': isMobile,
                'circles-small': isTablet
              }"
              class="circles"
            >
              <span></span>
            </div>
            <div
              [ngClass]="{
                'circles-xsmall': isMobile,
                'circles-small': isTablet
              }"
              class="circles"
            >
              <span></span>
            </div>
            <div
              [ngClass]="{
                'circles-xsmall': isMobile,
                'circles-small': isTablet
              }"
              class="circles"
            >
              <span></span>
            </div>
            <div
              [ngClass]="{
                'circles-xsmall': isMobile,
                'circles-small': isTablet
              }"
              class="circles"
            >
              <span></span>
            </div>
            <div
              [ngClass]="{
                'circles-xsmall': isMobile,
                'circles-small': isTablet
              }"
              class="circles"
            >
              <span></span>
            </div>
            <div
              [ngClass]="{
                'circles-xsmall': isMobile,
                'circles-small': isTablet
              }"
              class="circles"
            >
              <span></span>
            </div>
            <div
              [ngClass]="{
                'circles-xsmall': isMobile,
                'circles-small': isTablet
              }"
              class="circles"
            >
              <span></span>
            </div>
          </div>
          <div
            [ngClass]="{
              'project-xsmall': isMobile,
              'project-small': isTablet
            }"
            class="project"
          >
            <p
              [ngClass]="{
                'projecttext-xsmall': isMobile,
                'projecttext-small': isTablet
              }"
              class="projects"
              (click)="scrollToElement(target)"
            >
              Work
            </p>
          </div>
        </div>
      </div>
    </div>

    <section
      #target
      id="projects"
      class="container"
      [ngClass]="{ 'container-xsmall': isMobile }"
    >
      <div
        class="projectsidebar"
        [ngClass]="{ 'projectsidebar-xsmall': isMobile }"
      >
        <a routerLink="/waterloo">
          <!-- <div
            class="whitebackground"
            [ngStyle]="{
              'background-color': isHovering4 ? 'rgba(0,0,0,1)' : ''
            }" -->

          <div
            [ngClass]="{ 'panel-xsmall panel1-xsmall': isMobile }"
            class="panel one"
            (mouseover)="isHovering4 = true"
            (mouseout)="isHovering4 = false"
            [ngStyle]="{
              'background-color': isHovering4 ? 'rgba(0,0,0,0.7)' : ''
            }"
          >
            <img
              class="projectimages"
              *ngIf="isDesktop"
              src="assets/images/UofW.jpg"
              loading="lazy"
              alt="UNIVERSITY OF
            WATERLOO PROJECT"
            />
            <img
              class="mobileimages"
              *ngIf="isMobile || isTablet"
              src="assets/images/UofWMobile.png"
              loading="lazy"
              alt="UNIVERSITY OF WATERLOO PROJECT"
            />
            <div
              class="description desc1"
              [ngClass]="{
                'description-xsmall': isMobile,
                'description-small': isTablet
              }"
              [ngStyle]="{ color: isHovering4 ? 'white' : '' }"
            >
              <p
                [ngClass]="{
                  'imgText-xsmall': isMobile,
                  'imgText-small': isTablet
                }"
                class="imgText"
              >
                UNIVERSITY OF WATERLOO PROJECT
              </p>
              <p
                [ngClass]="{
                  'para-xsmall': isMobile,
                  'para-small': isTablet
                }"
                class="para"
              >
                When it comes to this world-renown university, we had a big
                challenge in approaching the organization and presentation of
                large amounts of information meant for various audiences.
              </p>
              <div
                [ngClass]="{
                'readmore-xsmall': isMobile,
              }"
                class="readmore"
              >
                <p class="readmoretext">READ MORE</p>
                <fa-icon
                  [ngClass]="{ 'faArrow-xsmall': isMobile }"
                  [icon]="faArrowRight"
                  class="arrow arrowOne"
                ></fa-icon>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </a>

        <!-- <div class="circle3" [ngClass]="{ 'circle3-xsmall': isMobile }"></div> -->
        <a routerLink="/gmail">
          <!-- <div
            class="whitebackground"
            [ngStyle]="{
              'background-color': isHovering2 ? 'rgba(0,0,0,1)' : ''
            }" -->
          <!-- > -->
          <div
            [ngClass]="{ 'panel-xsmall panel4-xsmall': isMobile }"
            class="panel four"
            (mouseover)="isHovering2 = true"
            (mouseout)="isHovering2 = false"
            [ngStyle]="{
              'background-color': isHovering2 ? 'rgba(0,0,0,0.7)' : ''
            }"
          >
            <div
              class="description desc4"
              [ngClass]="{
                'description-xsmall': isMobile,
                'description-small': isTablet
              }"
              [ngStyle]="{ color: isHovering2 ? 'white' : '' }"
            >
              <p
                [ngClass]="{
                  'imgText-xsmall imgText4-xsmall': isMobile,
                  'imgText-small': isTablet
                }"
                class="imgText"
              >
                GMAIL
              </p>
              <p
                [ngClass]="{
                  'para-xsmall': isMobile,
                  'para-small': isTablet
                }"
                class="para"
              >
                As part of a UX Design case study, I was given the task to
                research and improve a pre-installed android application with a
                two-week turnaround. The following is an analysis about the user
                friendliness of the Gmail application, more specifically when it
                comes to composing emails and interacting with ‘drafts’ on an
                android.
              </p>

              <div class="readmore">
                <p class="readmoretext">READ MORE</p>
                <fa-icon
                  [ngClass]="{ 'faArrow-xsmall': isMobile }"
                  [icon]="faArrowRight"
                  class="arrow arrowFour"
                ></fa-icon>
              </div>
            </div>
            <img
              class="projectimages img4"
              *ngIf="isDesktop"
              src="assets/images/Gmail.jpg"
              loading="lazy"
              alt="Gmail Project"
            />
            <img
              class="mobileimages"
              *ngIf="isMobile || isTablet"
              src="assets/images/GmailMobile.jpg"
              loading="lazy"
              alt="Gmail Project"
            />
          </div>
          <!-- </div> -->
        </a>
        <a routerLink="/thattorontostudio">
          <!-- <div
            class="whitebackground"
            [ngStyle]="{
              'background-color': isHovering ? 'rgba(0,0,0,1)' : ''
            }"
          > -->
          <div
            [ngClass]="{ 'panel-xsmall panel2-xsmall': isMobile }"
            class="panel two"
            [ngStyle]="{
              'background-color': isHovering ? 'rgba(0,0,0,0.7)' : ''
            }"
            (mouseover)="isHovering = true"
            (mouseout)="isHovering = false"
          >
            <img
              class="projectimages img2"
              *ngIf="isDesktop"
              src="assets/images/THATTorontoStudio.jpg"
              loading="lazy"
              alt="THAT Toronto Studio Project"
            />
            <img
              class="mobileimages"
              *ngIf="isMobile || isTablet"
              src="assets/images/THATTorontoStudioMobile.jpg"
              loading="lazy"
              alt="THAT Toronto Studio Project"
            />
            <div
              class="description desc2"
              [ngClass]="{
                'description-xsmall': isMobile,
                'description-small': isTablet
              }"
              [ngStyle]="{ color: isHovering ? 'white' : '' }"
            >
              <p
                [ngClass]="{
                  'imgText-xsmall imgText2-xsmall': isMobile,
                  'imgText-small': isTablet
                }"
                class="imgText"
              >
                THAT TORONTO STUDIO
              </p>
              <p
                [ngClass]="{
                  'para-xsmall': isMobile,
                  'para-small': isTablet
                }"
                class="para"
              >
                In a five-week design project for THAT Toronto Studio, the focus
                was on enhancing the landing page and booking process, which
                were identified as crucial elements in improving the overall
                user experience.
              </p>

              <div class="readmore">
                <p class="readmoretext">READ MORE</p>
                <fa-icon
                  [ngClass]="{ 'faArrow-xsmall': isMobile }"
                  [icon]="faArrowRight"
                  class="arrow arrowTwo"
                ></fa-icon>
              </div>
            </div>

            <!-- <div
                class="circle4"
                [ngClass]="{ 'circle4-xsmall': isMobile }"
              ></div> -->
          </div>
          <!-- </div> -->
        </a>

        <a routerLink="/canadacomputers">
          <!-- <div
            class="whitebackground"
            [ngStyle]="{
              'background-color': isHovering3 ? 'rgba(0,0,0,1)' : ''
            }"
          > -->
          <div
            [ngClass]="{ 'panel-xsmall panel3-xsmall': isMobile }"
            class="panel three"
            [ngStyle]="{
              'background-color': isHovering3 ? 'rgba(0,0,0,0.7)' : ''
            }"
            (mouseover)="isHovering3 = true"
            (mouseout)="isHovering3 = false"
          >
            <!-- <img
              class="projectimages img31"
              [ngStyle]="{
                opacity: isHovering3 ? '0.4' : ''
              }"
              (mouseover)="isHovering3 = true"
              (mouseout)="isHovering3 = false"
              [ngClass]="{ 'img-xsmall': isMobile }"
              src="assets/images/CanadaComputers2.jpg"
              alt="Canada Computers Project"
            /> -->
            <div
              class="description desc3"
              [ngClass]="{
                'description-xsmall': isMobile,
                'description-small': isTablet
              }"
              [ngStyle]="{ color: isHovering3 ? 'white' : '' }"
            >
              <p
                [ngClass]="{
                  'imgText-xsmall': isMobile,
                  'imgText-small': isTablet
                }"
                class="imgText"
              >
                CANADA COMPUTERS
              </p>
              <p
                [ngClass]="{
                  'para-xsmall': isMobile,
                  'para-small': isTablet
                }"
                class="para"
              >
                This UX design case study was done for this leading Canadian
                retailer in PC hardware, electronics and tech services. With a
                team made up of five designers and a timeline of two weeks, we
                directed our focus to the checkout process, which most users
                identified as pain points in early rounds of task analysis.
              </p>

              <div class="readmore">
                <p class="readmoretext">READ MORE</p>
                <fa-icon
                  [ngClass]="{ 'faArrow-xsmall': isMobile }"
                  [icon]="faArrowRight"
                  class="arrow arrowThree"
                ></fa-icon>
              </div>
            </div>
            <img
              class="projectimages img3"
              *ngIf="isDesktop"
              loading="lazy"
              src="assets/images/CanadaComputers.jpg"
              alt="Canada
            Computers Project"
            />
            <img
              class="mobileimages"
              *ngIf="isMobile || isTablet"
              src="assets/images/CanadaComputersMobile.jpg"
              loading="lazy"
              alt="Canada Computers Project"
            />
          </div>
          <!-- </div> -->
        </a>
      </div>
    </section>

    <div class="contact">
      <div
        class="circleContainer2"
        [ngClass]="{ 'circleContainer2-xsmall': isMobile }"
      >
        <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
          <span></span>
        </div>
        <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
          <span></span>
        </div>
        <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
          <span></span>
        </div>
        <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
          <span></span>
        </div>
        <div
          [ngClass]="{ 'circles2-xsmall': isMobile }"
          class="circles2"
          id="expand"
        >
          <span></span>
        </div>
        <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
          <span></span>
        </div>
        <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
          <span></span>
        </div>
        <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
          <span></span>
        </div>
        <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
          <span></span>
        </div>
        <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
          <span></span>
        </div>
        <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
          <span></span>
        </div>
        <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
          <span></span>
        </div>
        <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
          <span></span>
        </div>
        <div [ngClass]="{ 'circles2-xsmall': isMobile }" class="circles2">
          <span></span>
        </div>
      </div>
      <a routerLink="/about">
        <p
          class="aboutme"
          [ngClass]="{ 'aboutme-xsmall': isMobile, 'aboutme-small': isTablet }"
        >
          About me - About me - About me - About me - About me - About me -
          About me - About me - About me - About me - About me
        </p>
        <p
          class="aboutmeItalics"
          [ngClass]="{
            'aboutmeItalics-xsmall': isMobile,
            'aboutmeItalics-small': isTablet
          }"
        >
          About me - About me - About me - About me - About me - About me -
          About me - About me - About me - About me - About me
        </p>
      </a>
    </div>
  </div>
</body>
