body {
  width: 100vw;
  background-color: #b71375;
  background-color: #fa2452;
  background-color: rgb(253, 130, 63);
}

.freeze {
  background-color: rgb(183, 19, 117, 0.5);
  background-color: #fa2452;
  background-color: rgb(31, 90, 89);
  background-color: rgb(253, 130, 63);
  background-color: rgb(233, 94, 84);
  background-color: #f4cedd;
  background-color: rgb(255, 255, 135);
  background-color: rgb(74, 114, 179);
  z-index: 999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  //   filter: brightness(0.7);
  filter: contrast(0.8) brightness(0.7) saturate(1.2);
}

.animation {
  width: 100%;
  display: block;
  overflow: hidden;
  z-index: 0;
}

h1,
h2 {
  font-family: "Inter";
  font-size: 120px;
  color: rgb(249, 195, 203);
  letter-spacing: 2px;
  font-weight: 400;
}

.title {
  display: block;
  line-height: 1;
}

.title2 {
  margin-top: -7rem;
  margin-left: 7rem;
  display: block;
  line-height: 1.5;
}

.project {
  justify-content: right;
  display: flex;
  padding-bottom: 0;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding-left: 5rem;
  padding-right: 5rem;
  opacity: 0;
}

.project-xsmall {
  display: block;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.projects {
  font-family: "Inter";
  font-size: 96px;
  color: white;
  letter-spacing: 2px;
  font-weight: 400;
  z-index: 2;
}

.projecttext-xsmall {
  font-size: 48px;
  line-height: normal;
  margin: 0;
  margin-bottom: -2rem;
  padding-left: 20px;
  padding-right: 20px;
}

.projecttext-small {
  font-size: 72px;
  line-height: normal;
  margin: 0;
}

.line1 {
  font-family: "Inter";
  color: white;
  color: rgb(233, 94, 84);
  font-size: 72px;
  font-weight: 300;
  line-height: 1.1;
  display: inline;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.text-xsmall {
  font-size: 48px;
  display: block;
  text-align: center;
  line-height: normal;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.text-small {
  font-size: 72px;
  margin: auto;
  display: block;
  text-align: center;
}

.slogan-xsmall {
  font-size: 36px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 20px;
}

.slogan-small {
  font-size: 72px;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.text {
  display: flex;
  z-index: 2;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.bold {
  font-weight: 300;
  color: #b71375;
  color: #fa2452;
  color: rgb(31, 90, 89);
  display: inline;
}

.letsTalk {
  border-style: solid;
  border-radius: 50px;
  border-width: 2px;
  padding: 20px 50px 20px 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: transparent;
  border-color: rgb(249, 217, 222);
  color: rgb(249, 217, 222);
  box-shadow: none;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 9rem auto 2rem auto;
}

.magenta {
  background: linear-gradient(0deg, #b71375, rgba(162, 19, 107, 0.5)),
    url("../../../assets/images/backgroundLanding.jpg");
  background: linear-gradient(0deg, #fa2452, rgba(237, 20, 67, 0.8)),
    url("../../../assets/images/backgroundLanding.jpg");
  background: linear-gradient(0deg, rgb(31, 90, 89), rgb(31, 90, 89, 0.8)),
    url("../../../assets/images/backgroundLanding.jpg");
  // background-color: #b71375;
  background-size: 1800px;
  display: block;
  width: 100%;
  margin: 0;
  z-index: 9;
}

.about {
  text-align: right;
  float: right;
  font-family: "Inter";
  letter-spacing: 1.5px;
  //background-color: rgb(194, 55, 90);
  background-color: transparent;
  outline: none !important;
  color: white;
  font-size: 14px;
  border: none;
  font-weight: 500;
}

.name {
  text-align: left;
  float: left;
  font-family: "Inter";
  font-weight: 500;
  background-color: transparent;
  color: white;
  font-size: 14px;
  letter-spacing: 1.5px;
  border: none;
  z-index: 5;
  position: sticky;
}

.nav {
  display: block;
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.nav-xsmall {
  padding-left: 20px;
  padding-right: 20px;
}

.arrow {
  display: block;
  color: #ff661f;
  font-size: 100px;
  font-weight: 100;
  z-index: 2;
}

.mainCircle {
  display: block;
  overflow: hidden;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 35rem;
}

.maincircle-xsmall {
  margin-top: -2rem;
  z-index: 0;
}

.halfcircle {
  background-color: rgb(203, 145, 189);
  background-color: #f4cedd;
  border-radius: 50% 50% 0 0;
  height: 40rem;
  display: block;
  width: 200%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}
.circle {
  background-color: rgb(203, 145, 189);
  background-color: #f4cedd;
  z-index: 1;
  margin-top: -35rem;
  width: 100%;
}

.circle-xsmall {
  width: 100%;
}

.circleContainer {
  display: flex;
  margin-left: -10rem;
  margin-right: 0rem;
}
.circles {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: #f79540;
  background-color: rgb(253, 130, 63);
  z-index: 2;
  margin: 2rem;
  display: inline;
  flex: 0 0 140px;
}

.circleContainer2 {
  padding-top: 7rem;
  display: flex;
  margin-left: -10rem;
  margin-right: 0rem;
}

.circleContainer2-xsmall {
  padding-top: 0;
}

.circles2 {
  height: 120px;
  width: 120px;
  border-radius: 80px;
  background-color: rgb(203, 145, 189);
  background-color: rgb(74, 114, 179);
  z-index: 2;
  margin: 2rem;
  display: inline;
  flex: 0 0 120px;
  opacity: 0.7;
}

.circles2-xsmall {
  height: 60px;
  width: 60px;
  flex: 0 0 60px;
  margin: 1rem;
}
.circles-xsmall {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #f79540;
  z-index: 2;
  margin: 1rem;
  display: inline;
  flex: 0 0 50px;
}

#expand {
  background-color: #ff661f;
  background-color: rgb(244, 244, 135);
}

.container {
  display: flex;
  background-color: #f4cedd;
}
.projectsidebar {
  width: 90%;
  margin-left: auto;
}

.projectsidebar-xsmall {
  width: 100%;
  margin: 0;
}

.panel {
  display: flex;
  width: 100%;
}

.panel-xsmall {
  display: flex;
  width: 100%;
  // flex-direction: row;
  padding: 0;
  margin: 0;
}

.panel3-xsmall,
.panel1-xsmall {
  display: block;
}

.projectimages {
  object-fit: cover;
  height: auto;
  display: flex;
}

.one {
  background-color: rgb(117, 167, 166);
}

.two {
  margin-right: 0;
  background-color: rgb(255, 255, 135);
  justify-content: right;
}

.panel2-xsmall,
.panel4-xsmall {
  flex-direction: column-reverse;
  justify-content: center;
}

.three {
  margin-right: 2rem;
  background-color: rgb(253, 130, 63);
  background-color: rgb(233, 94, 84);
  justify-content: left;
}

.four {
  background-color: #f4cedd;
  justify-content: right;
}

.img1 {
  height: calc(0.55 * 100vw);
  width: calc(0.55 * 100vw);
  z-index: 40;
}

.img2 {
  height: calc(0.4 * 100vw);
  width: calc(0.4 * 100vw);
  margin-bottom: -2rem;
  z-index: 40;
  filter: grayscale(100%);
  padding-top: calc(0.1 * 100vw);
}

.img3 {
  margin-top: 5rem;
  margin-right: 4rem;
  height: calc(0.3 * 100vw);
  width: calc(0.3 * 100vw);
  filter: grayscale(100%);
}

.img31 {
  height: calc(0.4 * 100vw);
  width: calc(0.2 * 100vw);
  margin-top: 7rem;
  margin-bottom: -3rem;
  z-index: 40;
}

.img4 {
  height: calc(0.55 * 100vw);
  width: calc(0.6 * 100vw);
  filter: grayscale(100%);
}

.description {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: calc(0.1 * 100vw);
  font-family: "Inter";
  text-decoration: none !important;
  color: black;
}

.description-xsmall {
  display: flex;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
}

.description-small {
  padding-left: 20px;
  padding-right: 20px;
}

.imgText {
  font-weight: 500;
}

.imgText-xsmall {
  padding-top: 20px;
}

.imgText4-xsmall {
  padding-right: 20px;
}

a {
  text-decoration: none !important;
}

.para {
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.5;
  font-size: 20px;
}

.para-xsmall {
  width: 100%;
  font-size: 14px;
  padding: 20px 0px 20px 0px;
}

.para-small {
  font-size: 14px;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.circle3 {
  background-color: rgb(233, 94, 84);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: absolute;
  margin-left: 4rem;
  margin-top: -12rem;
  z-index: 45;
}

.circle3-xsmall {
  width: 6rem;
  height: 6rem;
  margin-left: 4rem;
  margin-top: -27rem;
  margin-left: 2rem;
}

.circle4 {
  background-color: rgb(250, 116, 43);
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
  position: absolute;
  margin-right: 4rem;
  margin-top: 22vw;
  z-index: 45;
  overflow: hidden;
  mix-blend-mode: screen;
}

.circle4-xsmall {
  width: 7rem;
  height: 7rem;
  margin-top: 75rem;
  float: right;
  margin-left: 15rem;
}

.img-xsmall {
  object-fit: cover;
  width: 100vw;
  height: 50vh;
  margin: 0;
  padding: 0;
  background-color: black;
}

.img-xsmall .img31 {
  margin: 0;
  padding: 0;
}

.img1-xsmall {
  margin: 0;
  padding: 0;
  display: none;
}

// img {
//   width: 100%;
//   z-index: 1;
// }

// @media (width < 100vh) {
//   img {
//     height: 300px;
//     width: auto;
//   }
// }

// .img-xsmall {
//   width: 100vw;
// }

// .panel {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-position: center center;
//   flex-direction: column;
//   will-change: transform;
//   overflow: hidden;
//   background-image: contain;
// }

// .panel-xsmall .one,
// .two,
// .three,
// .four {
//   width: 100vw;
//   height: 30%;
// }

// .container {
//   display: flex;
//   justify-content: center;
//   height: fit-content;
//   width: 100vw;
//   flex-direction: column;
//   overflow: hidden;
//   z-index: 2;
// }

// .projectimages {
//   object-fit: cover;
//   height: 100%;
//   width: 100%;
// }

// .img1 {
//   height: calc(0.4 * 100vw);
//   width: calc(0.5 * 100vw);
// }

// .img2 {
//   height: calc(0.4 * 100vw);
//   width: calc(0.3 * 100vw);
// }

// .img3 {
//   height: calc(0.4 * 100vw);
//   width: calc(0.4 * 100vw);
// }

// .img4 {
//   height: calc(0.3 * 100vw);
//   width: calc(0.6 * 100vw);
// }

// .one {
//   margin-top: 4rem;
//   margin-bottom: 8rem;
//   margin-right: auto;
//   margin-left: calc(0.06 * 100vw);
//   justify-content: left;
//   background-color: rgb(253, 130, 63);
// }

// .two {
//   justify-content: right;
//   margin-left: auto;
//   margin-right: calc(0.06 * 100vw);
//   margin-bottom: 2rem;
//   background-color: rgb(74, 114, 179);
// }
// .three {
//   margin-top: -5rem;
//   margin-left: calc(0.1 * 100vw);
//   margin-right: auto;
//   margin-bottom: 5rem;
//   background-color: rgb(255, 255, 135);
// }

// .four {
//   justify-content: right;
//   margin-left: auto;
//   margin-right: calc(0.1 * 100vw);
//   background-color: rgb(233, 94, 84);
// }

// .imgText {
//   font-family: "Inter";
//   color: white;
//   font-weight: 300;
//   text-decoration: underline;
//   position: absolute;
//   top: 30%;
//   text-align: center;
//   width: 80%;
//   font-size: 48px;
//   z-index: 1;
// }

// .imgText-xsmall {
//   font-family: "Inter";
//   color: white;
//   font-weight: 300;
//   text-decoration: underline;
//   position: absolute;
//   top: 35%;
//   text-align: center;
//   width: 80vw;
//   font-size: calc(100vw / 9);
//   z-index: 1;
// }

.headline {
  display: block;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 10rem;
  z-index: 0;
}

.headline-xsmall {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  padding-top: 17rem;
}

.headline-small {
  text-align: center;
  padding-top: 14rem;
}

.contact {
  background: linear-gradient(0deg, #b71375, rgba(162, 19, 107, 0.5)),
    url("../../../assets/images/backgroundLanding.jpg");
  background: linear-gradient(0deg, rgb(31, 90, 89), rgba(31, 90, 89, 0.9)),
    url("../../../assets/images/backgroundLanding.jpg");
  background-size: 1600px;
  width: 100%;
  display: block;
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 20rem;
}

.aboutme {
  font-family: "Inter";
  font-size: 96px;
  color: rgb(249, 195, 203);
  color: #f4cedd;
  font-weight: 300;
  z-index: 2;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 3rem;
  margin-left: -40rem;
}

.aboutmeItalics {
  font-family: "Montserrat";
  font-size: 96px;
  color: #f79540;
  color: #f8c149;
  font-weight: 300;
  z-index: 2;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  margin: 0;
  padding: 0;
}

.aboutmeItalics-xsmall {
  font-size: 48px;
}

.aboutme-xsmall {
  font-size: 48px;
}

.aboutme-small,
.aboutmeItalics-small {
  font-size: 72px;
}

:-webkit-scrollbar {
  display: none;
}

app-navbar {
  z-index: 100;
}
// .projectimages {
//   filter: grayscale(100%);
// }

// .projectimages:hover {
//   filter: none !important;
// }
