<body>     
    <div class="magenta">
        <span [ngClass]="{'nav-xsmall': isMobile}" class="nav">
            <!-- <img class="logo" src="../../../assets/images/logo.png" alt="logo"> -->
            <button mat-flat-button [autofocus]="false" class="name">CATIE CAMER</button>
            <button mat-flat-button [autofocus]="false" class="about">ABOUT</button>
        </span>
        <div class="animation">
            <div [ngClass]="{'headline-xsmall': isMobile}" class="headline">
                <h1 [ngClass]="{'text-xsmall': isMobile}" >PRODUCT</h1> 
                <div class="arrow">
                    <!-- <fa-icon [icon]="faArrowDown"></fa-icon> -->
                </div>
                <h1 [ngClass]="{'text-xsmall': isMobile}" class="title2">DESIGNER</h1>
            </div>
            <div [ngClass]="{'maincircle-xsmall': isMobile}" class="mainCircle">
                <div class="halfcircle"></div>
                <div [ngClass]="{'circle-xsmall': isMobile}" class="circle">
                
                    
                    <div class="text">
                        <p [ngClass]="{'text-xsmall': isMobile, 'slogan-xsmall': isMobile}" class="line1">From <span class="bold">art to finance </span> and now <span class="bold">product design, </span>I bring a fresh perspective to<span class="bold"> creative problem-solving. </span> </p>
                    </div>
                    <div class="circleContainer">
                        <div [ngClass]="{'circles-xsmall': isMobile}" class="circles"><span></span></div>
                        <div [ngClass]="{'circles-xsmall': isMobile}"class="circles"><span></span></div>
                        <div [ngClass]="{'circles-xsmall': isMobile}"class="circles"><span></span></div>
                        <div [ngClass]="{'circles-xsmall': isMobile}"class="circles"><span></span></div>
                        <div [ngClass]="{'circles-xsmall': isMobile}"class="circles" id="expand"><span></span></div>
                        <div [ngClass]="{'circles-xsmall': isMobile}"class="circles"><span></span></div>
                        <div [ngClass]="{'circles-xsmall': isMobile}"class="circles"><span></span></div>
                        <div [ngClass]="{'circles-xsmall': isMobile}"class="circles"><span></span></div>
                    </div>
                    <div [ngClass]="{'project-xsmall': isMobile}"class="project">
                        <p [ngClass]="{'text-xsmall': isMobile}" class="projects">PROJECTS</p>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- <div>
            <button class="letsTalk">Let's Talk!</button>
        </div> -->


        

    </div>
    <section class="container">
        <div class="panel 1">
            <img [ngClass]="{'img-xsmall': isMobile}" src="../../../assets/images/THATTorontoStudio.jpg" alt="THAT Toronto Studio Project">
            <p class="imgText">THAT Toronto Studio</p>
        </div>
        <div class="panel 2">
            <img  [ngClass]="{'img-xsmall': isMobile}" src="../../../assets/images/UofW.jpg" alt="UofW Project">
            <p class="imgText">UofW</p>
        </div>
        <div class="panel 3">
            <img [ngClass]="{'img-xsmall': isMobile}" src="../../../assets/images/CanadaComputers.jpg" alt="Canada Computers Project">
            <p class="imgText">Canada Computers</p>
        </div>
        <div class="panel 4">
            <img [ngClass]="{'img-xsmall': isMobile}" src="../../../assets/images/Gmail.jpg" alt="Gmail Project">
            <p class="imgText">Gmail</p>
        </div>
    </section>

    <div class="contact">
        <h1 class="aboutme">About me - About me - About me - About me - About me - About me</h1>
        <h1 class="aboutmeItalics">About me - About me - About me - About me - About me - About me</h1>
    </div>
</body>




